<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodTrack</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>
<div class="columns">
    <!-- FIRST COLUMN: FOOD SEARCH -->
    <div class="column is-one-third">
        <nav class="panel mt-2 ml-2 is-info">
            <p class="panel-heading">
                Food Database
            </p>
            <form th:action="@{/}" method="post">
                <div class="panel-block">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="searchName" placeholder="Search" method="POST">
                        <input type="hidden" name="action" value="search">
                        <span class="icon is-left">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    </p>
                </div>
            </form>
            <tbody>
            <tr th:if="${searchedFoods.empty}">
                <label class="panel-block is-active">
                    <span class="panel-icon">
                        <i class="fa empty" aria-hidden="true"></i>
                     </span>
                    <td><span> Empty </span></td>
                </label>
            </tr>
            <tr th:each="searchedFood : ${searchedFoods}">
                <form th:action="@{/}" method="post">
                <label class="panel-block is-active">
                    <button class="button is-success is-small mr-2" type="submit" th:value="${searchedFood.name}" name="foodName">
                        <span class="icon is-small">
                            <i class="fa fa-plus"></i>
                        </span>
                    </button>
                    <input type="hidden" name="action" value="add">
                    <td><span th:text="${searchedFood.name + ', ' + searchedFood.servingQty + ' ' + searchedFood.servingUnit}"> Title </span></td>
                </label>
                </form>
            </tr>
            </tbody>
        </nav>
    </div>
    <!-- SECOND COLUMN: MY FOODS -->
    <div class="column is-two-thirds">
        <div class="box mr-2 mt-2">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <h2 class="title is-3">Calorie Total</h2>
                        <p>
                            <strong>Total Calories:</strong>
                            <span th:if="${myFoods.empty}"> 0 </span>
                            <span th:text="${#aggregates.sum(myFoods.![calories])}"> 0 </span>
                            <br>
                            <strong>Total Carbohydrates:</strong>
                            <span th:if="${myFoods.empty}"> 0 </span>
                            <span th:text="${#aggregates.sum(myFoods.![carbohydrates])}"> 0 </span>
                            <span>g</span>
                            <br>
                            <strong>Total Protein:</strong>
                            <span th:if="${myFoods.empty}"> 0 </span>
                            <span th:text="${#aggregates.sum(myFoods.![protein])}"> 0 </span>
                            <span>g</span>
                            <br>
                            <strong>Total Fats:</strong>
                            <span th:if="${myFoods.empty}"> 0 </span>
                            <span th:text="${#aggregates.sum(myFoods.![fats])}"> 0 </span>
                            <span>g</span>
                            <br>
                        </p>
<!--                        <canvas id="myChart" width="50" height="50"></canvas>-->
                        <script type="text/javascript" th:inline="javascript">
                            var ctx = document.getElementById('myChart');
                            var myPieChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: ["Carbohydrates", "Protein", "Fats"],
                                    datasets: [{
                                        label: "Source of Calories",
                                        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
                                        data: [100, 100, 100]
                                    }]
                                },
                                options: {
                                    title: {
                                        display: true,
                                        text: 'Source of Calories'
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </article>
        </div>
        <div class="table-container">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Calories</th>
                    <th>Carbohydrates</th>
                    <th>Protein</th>
                    <th>Fats</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${myFoods.empty}">
                </tr>
                <tr th:each="food,iterStat : ${myFoods}">
                    <th><span th:text="${iterStat.count}"> # </span></th>
                    <td><span th:text="${food.name}"> Name </span></td>
                    <td><span th:text="${food.servingQty + ' ' + food.servingUnit}"> Quantity </span></td>
                    <td><span th:text="${food.calories}"> Calories </span></td>
                    <td><span th:text="${food.carbohydrates + ' g'}"> Carbohydrates </span></td>
                    <td><span th:text="${food.protein + ' g'}"> Protein </span></td>
                    <td><span th:text="${food.fats + ' g'}"> Fats </span></td>
                    <td>
                        <form th:action="@{/}" method="post">
                            <button class="button is-danger is-small" type="submit" th:value="${food.name}" name="foodName">
                                <span class="icon is-small">
                                    <i class="fa fa-times"></i>
                                </span>
                            </button>
                            <input type="hidden" name="action" value="remove">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>